*{
    margin: 0;
    padding: 0;
    color: black;
}


.coal{
    color: rgba(144, 140, 224, 0.692);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bg_color{
    background-color: #a69cad5e;
}

.heading{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.components-lists ul{
    list-style-type: none;
    display: flex;
}
.components-lists ul li{
    margin: 0rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}
li:hover{
    color: rgb(6, 52, 255);
}

.algo-selected{
    color: darkslategrey;
}